In [1]:
#Import pandas, matplotlib.pyplot, numpy and seaborn
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import os

In [2]:
#Load CSV data file in Capstone II folder
cwd = os.getcwd()
files = os.listdir(cwd)
print("Files in %r: %s" % (cwd, files))
cars = pd.read_csv('../Capstone_II/car_prices.csv')

Files in '/Users/liamheffernan/Springboard2023/Capstone_II': ['Capstone_II_Data_Wrangling.ipynb', '.DS_Store', 'car_prices.csv', 'Project_Proposal.pdf', '.ipynb_checkpoints']

In [3]:
#View top rows of the df
cars.head()

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)

In [4]:
#general summary statistics view of data
cars.describe()

,year,condition,odometer,mmr,sellingprice
count,558837.000000,547017.000000,558743.000000,558799.000000,558825.000000
mean,2010.038927,30.672365,68320.017767,13769.377495,13611.358810
std,3.966864,13.402832,53398.542821,9679.967174,9749.501628
min,1982.000000,1.000000,1.000000,25.000000,1.000000
25%,2007.000000,23.000000,28371.000000,7100.000000,6900.000000
50%,2012.000000,35.000000,52254.000000,12250.000000,12100.000000
75%,2013.000000,42.000000,99109.000000,18300.000000,18200.000000
max,2015.000000,49.000000,999999.000000,182000.000000,230000.000000

In [5]:
#understand data types in the full dataset
cars.select_dtypes('object')

,make,model,trim,body,transmission,vin,state,color,interior,seller,saledate
0,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,white,black,kia motors america inc,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,white,beige,kia motors america inc,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,gray,black,financial services remarketing (lease),Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,white,black,volvo na rep/world omni,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,gray,black,financial services remarketing (lease),Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...
558832,Kia,K900,Luxury,Sedan,NaN,knalw4d4xf6019304,in,silver,black,avis corporation,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,Ram,2500,Power Wagon,Crew Cab,automatic,3c6td5et6cg112407,wa,white,black,i -5 uhlmann rv,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,ca,black,black,financial services remarketing (lease),Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,white,black,enterprise vehicle exchange / tra / rental / t...,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,gray,gray,ford motor credit company llc pd,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [6]:
#modify date field and convert to datetime
cars['saledate'] = cars['saledate'].str[4:15]
cars['saledate'] = pd.to_datetime(cars['saledate'],errors='coerce')

In [7]:
#confirm data type is correct for 'saledate' field
cars.dtypes

year                     int64
make                    object
model                   object
trim                    object
body                    object
transmission            object
vin                     object
state                   object
condition              float64
odometer               float64
color                   object
interior                object
seller                  object
mmr                    float64
sellingprice           float64
saledate        datetime64[ns]
dtype: object

In [8]:
#understand volume of NAs and total percentage by field
missing = pd.concat([cars.isnull().sum(), 100 * cars.isnull().mean()], axis=1)
missing.columns=['count', '%']
missing.sort_values(by="count",ascending=False)

              count          %
transmission  65352  11.694287
body          13195   2.361154
condition     11820   2.115107
trim          10651   1.905922
model         10399   1.860829
make          10301   1.843292
color           749   0.134028
interior        749   0.134028
odometer         94   0.016821
mmr              38   0.006800
saledate         38   0.006800
sellingprice     12   0.002147
vin               4   0.000716
year              0   0.000000
state             0   0.000000
seller            0   0.000000

In [9]:
#map incorrect makes to the right ones
make_dict = {'dodge tk':'Dodge','ford tk':'Ford','ford truck': 'Ford','gmc truck':'GMC', 'landrover': 'Land Rover','mercedes':'Mercedes-Benz','mercedes-b':'Mercedes-Benz','vw':'Volkswagen'}

In [27]:
#replace and check observations
cars = cars.replace('make',make_dict)
print(cars['make'].unique())
print(cars['interior'].unique())

['Kia' 'BMW' 'Volvo' 'Nissan' 'Chevrolet' 'Audi' 'Ford' 'Cadillac' 'Acura'
 'Lexus' 'Hyundai' 'Buick' 'Infiniti' 'Jeep' 'Mercedes-Benz' 'Mitsubishi'
 'Mazda' 'MINI' 'Land Rover' 'Lincoln' 'Jaguar' 'Volkswagen' 'Toyota'
 'Subaru' 'Scion' 'Porsche' 'Dodge' 'FIAT' 'Chrysler' 'Ferrari' 'Honda'
 'GMC' 'Ram' 'smart' 'Bentley' 'Pontiac' 'Saturn' 'Maserati' 'Mercury'
 'HUMMER' 'Saab' 'Suzuki' 'Oldsmobile' 'Rolls-Royce' 'Isuzu' 'Plymouth'
 'Tesla' 'Aston Martin' 'Geo' 'Fisker' 'Daewoo' 'Lamborghini' 'Lotus']
['black' 'beige' 'tan' 'brown' 'N/A' 'gray' 'burgundy' 'white' 'silver'
 'off-white' 'red' 'yellow' 'green' 'purple' 'blue' 'orange' 'gold']

In [20]:
#replace observations with dash in interior field with NAs and perform check
misspelled_interior = ['—']
cars['interior'] = np.where(cars['interior'].isin(misspelled_interior),"N/A",cars['interior'])
cars_misspelled = cars[cars['interior']=='—'] 
cars_mispelled.head()

Empty DataFrame
Columns: [year, make, model, trim, body, transmission, vin, state, condition, odometer, color, interior, seller, mmr, sellingprice, saledate]
Index: []

In [21]:
#finally drop NAs after cleaning 
cars = cars.dropna()

In [22]:
#view data to confirm clean
cars.info

<bound method DataFrame.info of         year    make                model         trim       body  \
0       2015     Kia              Sorento           LX        SUV
1       2015     Kia              Sorento           LX        SUV
2       2014     BMW             3 Series   328i SULEV      Sedan
3       2015   Volvo                  S60           T5      Sedan
4       2014     BMW  6 Series Gran Coupe         650i      Sedan
...      ...     ...                  ...          ...        ...
558831  2011     BMW             5 Series         528i      Sedan
558833  2012     Ram                 2500  Power Wagon   Crew Cab
558834  2012     BMW                   X5    xDrive35d        SUV
558835  2015  Nissan               Altima        2.5 S      sedan
558836  2014    Ford                F-150          XLT  SuperCrew

       transmission                vin state  condition  odometer  color  \
0         automatic  5xyktca69fg566472    ca        5.0   16639.0  white
1         automatic  5xyktca69fg561319    ca        5.0    9393.0  white
2         automatic  wba3c1c51ek116351    ca       45.0    1331.0   gray
3         automatic  yv1612tb4f1310987    ca       41.0   14282.0  white
4         automatic  wba6b2c57ed129731    ca       43.0    2641.0   gray
...             ...                ...   ...        ...       ...    ...
558831    automatic  wbafr1c53bc744672    fl       39.0   66403.0  white
558833    automatic  3c6td5et6cg112407    wa        5.0   54393.0  white
558834    automatic  5uxzw0c58cl668465    ca       48.0   50561.0  black
558835    automatic  1n4al3ap0fc216050    ga       38.0   16658.0  white
558836    automatic  1ftfw1et2eke87277    ca       34.0   15008.0   gray

       interior                                             seller      mmr  \
0         black                            kia motors america  inc  20500.0
1         beige                            kia motors america  inc  20800.0
2         black             financial services remarketing (lease)  31900.0
3         black                            volvo na rep/world omni  27500.0
4         black             financial services remarketing (lease)  66000.0
...         ...                                                ...      ...
558831    brown           lauderdale imports ltd bmw pembrok pines  20300.0
558833    black                                    i -5 uhlmann rv  30200.0
558834    black             financial services remarketing (lease)  29800.0
558835    black  enterprise vehicle exchange / tra / rental / t...  15100.0
558836     gray                   ford motor credit company llc pd  29600.0

        sellingprice   saledate
0            21500.0 2014-12-16
1            21500.0 2014-12-16
2            30000.0 2015-01-15
3            27750.0 2015-01-29
4            67000.0 2014-12-18
...              ...        ...
558831       22800.0 2015-07-07
558833       30800.0 2015-07-08
558834       34000.0 2015-07-08
558835       11100.0 2015-07-09
558836       26700.0 2015-05-28

[472325 rows x 16 columns]>

In [23]:
#confirm that there are no two vehicles with the same vehicle id number and dataset looks clean
cars.drop_duplicates(subset='vin')
cars.info

<bound method DataFrame.info of         year    make                model         trim       body  \
0       2015     Kia              Sorento           LX        SUV
1       2015     Kia              Sorento           LX        SUV
2       2014     BMW             3 Series   328i SULEV      Sedan
3       2015   Volvo                  S60           T5      Sedan
4       2014     BMW  6 Series Gran Coupe         650i      Sedan
...      ...     ...                  ...          ...        ...
558831  2011     BMW             5 Series         528i      Sedan
558833  2012     Ram                 2500  Power Wagon   Crew Cab
558834  2012     BMW                   X5    xDrive35d        SUV
558835  2015  Nissan               Altima        2.5 S      sedan
558836  2014    Ford                F-150          XLT  SuperCrew

       transmission                vin state  condition  odometer  color  \
0         automatic  5xyktca69fg566472    ca        5.0   16639.0  white
1         automatic  5xyktca69fg561319    ca        5.0    9393.0  white
2         automatic  wba3c1c51ek116351    ca       45.0    1331.0   gray
3         automatic  yv1612tb4f1310987    ca       41.0   14282.0  white
4         automatic  wba6b2c57ed129731    ca       43.0    2641.0   gray
...             ...                ...   ...        ...       ...    ...
558831    automatic  wbafr1c53bc744672    fl       39.0   66403.0  white
558833    automatic  3c6td5et6cg112407    wa        5.0   54393.0  white
558834    automatic  5uxzw0c58cl668465    ca       48.0   50561.0  black
558835    automatic  1n4al3ap0fc216050    ga       38.0   16658.0  white
558836    automatic  1ftfw1et2eke87277    ca       34.0   15008.0   gray

       interior                                             seller      mmr  \
0         black                            kia motors america  inc  20500.0
1         beige                            kia motors america  inc  20800.0
2         black             financial services remarketing (lease)  31900.0
3         black                            volvo na rep/world omni  27500.0
4         black             financial services remarketing (lease)  66000.0
...         ...                                                ...      ...
558831    brown           lauderdale imports ltd bmw pembrok pines  20300.0
558833    black                                    i -5 uhlmann rv  30200.0
558834    black             financial services remarketing (lease)  29800.0
558835    black  enterprise vehicle exchange / tra / rental / t...  15100.0
558836     gray                   ford motor credit company llc pd  29600.0

        sellingprice   saledate
0            21500.0 2014-12-16
1            21500.0 2014-12-16
2            30000.0 2015-01-15
3            27750.0 2015-01-29
4            67000.0 2014-12-18
...              ...        ...
558831       22800.0 2015-07-07
558833       30800.0 2015-07-08
558834       34000.0 2015-07-08
558835       11100.0 2015-07-09
558836       26700.0 2015-05-28

[472325 rows x 16 columns]>